---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

$sans-serif: "Lato", Helvetica, Arial, sans-serif;
$serif: "Cormorant Garamond", Courier, serif;
$base-font-family: $sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;

$base-font-size: 17px;
$base-line-height: 1.7;

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #faf9f9 !default;

$link-base-color:       #2a7ae2 !default;
$link-visited-color:    $link-base-color !default;
$link-hover-color:      lighten($text-color, 40%) !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;


$dark-brand-color:           #999999 !default;
$dark-brand-color-light:     lighten($dark-brand-color, 5%) !default;
$dark-brand-color-dark:      darken($dark-brand-color, 35%) !default;

$dark-site-title-color:      $dark-brand-color-light !default;

$dark-text-color:            #bbbbbb !default;
$dark-background-color:      #181818 !default;
$dark-code-background-color: #212121 !default;

$dark-link-base-color:       #79b8ff !default;
$dark-link-visited-color:    $dark-link-base-color !default;
$dark-link-hover-color:      lighten($dark-text-color, 50%) !default;

$dark-border-color-01:       $dark-brand-color-dark !default;
$dark-border-color-02:       $dark-brand-color-light !default;
$dark-border-color-03:       $dark-brand-color !default;

$dark-table-text-color:      $dark-text-color !default;
$dark-table-zebra-color:     lighten($dark-background-color, 4%) !default;
$dark-table-header-bg-color: lighten($dark-background-color, 10%) !default;
$dark-table-header-border:   lighten($dark-background-color, 21%) !default;
$dark-table-border-color:    $dark-border-color-01 !default;


@import "minima";

// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------


.highlight {
  color: $text-color;
  .c     { color: #998; font-style: italic } // Comment
  .err   { color: #a61717; background-color: #e3d2d2 } // Error
  .k     { font-weight: bold } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: #998; font-style: italic } // Comment.Multiline
  .cp    { color: #999; font-weight: bold } // Comment.Preproc
  .c1    { color: #998; font-style: italic } // Comment.Single
  .cs    { color: #999; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: #000; background-color: #fdd } // Generic.Deleted
  .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: #a00 } // Generic.Error
  .gh    { color: #999 } // Generic.Heading
  .gi    { color: #000; background-color: #dfd } // Generic.Inserted
  .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
  .go    { color: #888 } // Generic.Output
  .gp    { color: #555 } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: #aaa } // Generic.Subheading
  .gt    { color: #a00 } // Generic.Traceback
  .kc    { font-weight: bold } // Keyword.Constant
  .kd    { font-weight: bold } // Keyword.Declaration
  .kp    { font-weight: bold } // Keyword.Pseudo
  .kr    { font-weight: bold } // Keyword.Reserved
  .kt    { color: #458; font-weight: bold } // Keyword.Type
  .m     { color: #099 } // Literal.Number
  .s     { color: #d14 } // Literal.String
  .na    { color: #008080 } // Name.Attribute
  .nb    { color: #0086B3 } // Name.Builtin
  .nc    { color: #458; font-weight: bold } // Name.Class
  .no    { color: #008080 } // Name.Constant
  .ni    { color: #800080 } // Name.Entity
  .ne    { color: #900; font-weight: bold } // Name.Exception
  .nf    { color: #900; font-weight: bold } // Name.Function
  .nn    { color: #555 } // Name.Namespace
  .nt    { color: #000080 } // Name.Tag
  .nv    { color: #008080 } // Name.Variable
  .ow    { font-weight: bold } // Operator.Word
  .w     { color: #bbb } // Text.Whitespace
  .mf    { color: #099 } // Literal.Number.Float
  .mh    { color: #099 } // Literal.Number.Hex
  .mi    { color: #099 } // Literal.Number.Integer
  .mo    { color: #099 } // Literal.Number.Oct
  .sb    { color: #d14 } // Literal.String.Backtick
  .sc    { color: #d14 } // Literal.String.Char
  .sd    { color: #d14 } // Literal.String.Doc
  .s2    { color: #d14 } // Literal.String.Double
  .se    { color: #d14 } // Literal.String.Escape
  .sh    { color: #d14 } // Literal.String.Heredoc
  .si    { color: #d14 } // Literal.String.Interpol
  .sx    { color: #d14 } // Literal.String.Other
  .sr    { color: #009926 } // Literal.String.Regex
  .s1    { color: #d14 } // Literal.String.Single
  .ss    { color: #990073 } // Literal.String.Symbol
  .bp    { color: #999 } // Name.Builtin.Pseudo
  .vc    { color: #008080 } // Name.Variable.Class
  .vg    { color: #008080 } // Name.Variable.Global
  .vi    { color: #008080 } // Name.Variable.Instance
  .il    { color: #099 } // Literal.Number.Integer.Long
}

.highlighter-rouge {
  color: #d14;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    color: $dark-text-color;
    .c     { color: #545454; font-style: italic } // Comment
    .err   { color: #f07178; background-color: #e3d2d2 } // Error
    .k     { color: #89DDFF; font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: #545454; font-style: italic } // Comment.Multiline
    .cp    { color: #545454; font-weight: bold } // Comment.Preproc
    .c1    { color: #545454; font-style: italic } // Comment.Single
    .cs    { color: #545454; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #f07178 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #f07178 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #FFCB6B; font-weight: bold } // Keyword.Type
    .m     { color: #F78C6C } // Literal.Number
    .s     { color: #C3E88D } // Literal.String
    .na    { color: #008080 } // Name.Attribute
    .nb    { color: #EEFFFF } // Name.Builtin
    .nc    { color: #FFCB6B; font-weight: bold } // Name.Class
    .no    { color: #008080 } // Name.Constant
    .ni    { color: #800080 } // Name.Entity
    .ne    { color: #900; font-weight: bold } // Name.Exception
    .nf    { color: #82AAFF; font-weight: bold } // Name.Function
    .nn    { color: #555 } // Name.Namespace
    .nt    { color: #FFCB6B } // Name.Tag
    .nv    { color: #EEFFFF } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #EEFFFF } // Text.Whitespace
    .mf    { color: #F78C6C } // Literal.Number.Float
    .mh    { color: #F78C6C } // Literal.Number.Hex
    .mi    { color: #F78C6C } // Literal.Number.Integer
    .mo    { color: #F78C6C } // Literal.Number.Oct
    .sb    { color: #C3E88D } // Literal.String.Backtick
    .sc    { color: #C3E88D } // Literal.String.Char
    .sd    { color: #C3E88D } // Literal.String.Doc
    .s2    { color: #C3E88D } // Literal.String.Double
    .se    { color: #EEFFFF } // Literal.String.Escape
    .sh    { color: #C3E88D } // Literal.String.Heredoc
    .si    { color: #C3E88D } // Literal.String.Interpol
    .sx    { color: #C3E88D } // Literal.String.Other
    .sr    { color: #C3E88D } // Literal.String.Regex
    .s1    { color: #C3E88D } // Literal.String.Single
    .ss    { color: #C3E88D } // Literal.String.Symbol
    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #FFCB6B } // Name.Variable.Class
    .vg    { color: #EEFFFF } // Name.Variable.Global
    .vi    { color: #EEFFFF } // Name.Variable.Instance
    .il    { color: #F78C6C } // Literal.Number.Integer.Long
  }

  .highlighter-rouge {
    color: #ec6889;
  }
}



body {
  margin: 0 auto;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}


.site-title {
  font-family: $serif;
  &,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

html {
  font-size: $base-font-size;
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $base-font-size * 1.6;
  font-weight: 400;
  letter-spacing: -.03em;
}

h2 {
  font-size: $base-font-size * 1.5;
  font-weight: 400;
}

h3 {
  font-size: $base-font-size * 1.3;
  font-weight: 500;
}

h4 {
  font-size: $base-font-size * 1.1;
  font-weight: 500;
}

h5 {
  font-size: $base-font-size * 1.17;
  font-weight: 500;
}

h6 {
  font-size: $base-font-size;
}

.highlighter-rouge {
  font-size: $base-font-size * 0.8;
}


a {
  transition: color .2s linear;
  text-decoration: none;
  &,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

p {
  a {
    text-decoration: underline;
    &,
    &:visited,
    &:hover {
      text-decoration: underline;
    }
  }
}


// This is just an example, it doesn't do anything.
.large-gif {
    width: 100%;
    padding-left: 0px;
}

.large-image {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    figcaption {
      margin-top: 5px;
      color: $brand-color;
    }
}

.med-image {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    figcaption {
      margin-top: 5px;
      color: $brand-color;
    }
}

.parent {
  display: flex;
  flex-direction:row;
}

.column {
  flex: 1 1 0px;
  padding: 10px;
}




/**
 * Dark styling
 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }

    a {
        color: $dark-link-base-color;

        &:visited {
            color: $dark-link-visited-color;
        }

        &:hover {
            color: $dark-link-hover-color;
        }
    }
    table {
      color: $dark-table-text-color;
      border: 1px solid $dark-table-border-color;
      tr {
        &:nth-child(even) {
          background-color: $dark-table-zebra-color;
        }
      }
      th {
        background-color: $dark-table-header-bg-color;
        border: 1px solid $dark-table-header-border;
      }
      td {
        border: 1px solid $dark-table-border-color;
      }
    }
    blockquote {
      color: $dark-brand-color;
      border-left: 4px solid $dark-border-color-01;
    }
    pre,
    code {
      border: 1px solid $dark-border-color-01;
      border-radius: 3px;
      background-color: $dark-code-background-color;
    }
    .highlight {
      background: $dark-code-background-color;

      .highlighter-rouge & {
        background: $dark-code-background-color;
      }
    }
    .site-header {
      border-top: 5px solid $dark-border-color-03;
      border-bottom: 1px solid $dark-border-color-01;
    }

    .site-title {
      &,
      &:visited {
        color: $dark-site-title-color;
      }
    }

    .large-image {
        figcaption {
          color: $dark-brand-color;
        }
    }

    .med-image {
        figcaption {
          color: $dark-brand-color;
        }
    }
}

